$color-white: #ffffff;
$color-black: #000000;
$color-primery: #34547A;
$color-active: $color-primery;
$color-text-primery:#727272;
$color-backgraund: #EEEFF1;
$color-button-primery: #34547A;
$color-button-primery-hover: #234164;


$medium: 500;

$wrapper-weight: 1100px;

$tablet: 786px;
$mobile: 576px;
